class DmlClassifypdf < Formula
  include Language::Python::Virtualenv

  desc "Classify PDFs for Devonthink"
  homepage "https://github.com/dmlane/dml-classifypdf"
  url "#URL#"
  sha256 "#SHA256#"
  license "MIT"

  depends_on "python@3.11"

  def install
    virtualenv_install_with_resources
  end
  #---START-RESOURCES---
  #---END-RESOURCES---
  test do
    system "#{bin}/classifypdf", "--version"
  end
end
